<div class="relative">
  <div
    class="w-custom-calc bg-custom-dark-blue-color ml-auto lg:h-800px h-1700px"
  ></div>
  <div class="absolute top-64px pr-30px pl-30px">
  
      <img
        src="assets/images/popular-course-img.jpg"
        class="w-935px rounded-lg lg:h-551px object-cover"
      />


    <div class="w-1000px mx-auto flex">
      <div class="  p-6">
        <div class="bg-custom-yellow pt-30px pl-50px pr-50px pb-30px">
          <h2 class="text-4xl font-bold">Leader in Executive Education</h2>
          <p class="font-normal font-base pt-3">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
          <p class="font-normal font-base pt-3">
            Images from <a class="underline">Freepik </a>
          </p>
          <a>
            <button type="submit" class="uppercase text-sm tracking-wider">
              read more
            </button>
          </a>
        </div>
    </div>
        <div class="img">
          <img src="assets/images/leader-girl.jpg" />
        </div>
     
    </div>
  </div>

  <img />
</div>
