<div class="w-[1326px] mx-auto max-w-full">
  <div class="lg:ml-6 lg:mr-64 sm:ml-24 sm:mr-24 ml-3 mr-3">
    <h2 class="lg:text-4xl font-bold text-3xl">Flexible Distance Learning</h2>
    <p class="text-xl font-normal pt-5 text-slate-400 leading-9">
      We provide flexible and 24/7 online learning that fits around You. Become
      an industry leader with accredited undergraduate and postgraduate courses
      online. Fully Online.
    </p>
  </div>
</div>

<div class="sm:mt-[186px] mt-300px bg-custom-blue lg:h-[822px] sm:h-[1300px] h-[1920px]">
  <div class="bg-custom-yellow lg:h-[590px] h-[1300px] sm:h-1000px"></div>
  <div
    class="flex flex-wrap justify-evenly gap-6 -mt-[147px] p-10 sm:p-3 lg:p-3 2xl:justify-center relative lg:bottom-[37rem] sm:bottom-[61rem] bottom-89rem"
  >
    <div
      class="bg-custom-light-gray p-[30px] w-full sm:w-47% lg:w-30% rounded-3xl 2xl:w-15%"
    >
      <h3 class="text-3xl font-normal">01</h3>
      <p class="text-lg font-normal pt-4 leading-8">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>

    <div
      class="bg-custom-light-gray p-[30px] w-full sm:w-47% lg:w-30% rounded-3xl 2xl:w-15%"
    >
      <h3 class="text-3xl font-normal">02</h3>
      <p class="text-lg font-normal pt-4 leading-8">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>

    <div
      class="bg-custom-light-gray p-[30px] w-full sm:w-47% lg:w-30% rounded-3xl 2xl:w-15%"
    >
      <h3 class="text-3xl font-normal">03</h3>
      <p class="text-lg font-normal pt-4 leading-8">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>

  <div
    class="bg-pure-white 2xl:w-[965px] 2xl:mx-auto 2xl:max-w-full sm:ml-[45px] sm:mr-[45px] lg:ml-[113px] lg:mr-[113px] ml-4 mr-4 rounded-3xl relative sm:bottom-55rem lg:bottom-28rem bottom-82rem"
  >
    <div class="pl-[50px] pr-[50px] pt-[30px] pb-[70px]">
      <h2 class="text-4xl font-bold mt-8">Need Help?</h2>
      <div class="lg:flex sm:flex gap-4 mt-5">
        <div class="flex-1">
          <p class="font-normal text-2xl leading-10 lg:pr-60px">
            Our specialists will contact you for details and clarification.
            We’ll be glad to help you find the course.
          </p>

          <div class="flex gap-4 pt-11 pb-4">

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content w-8" viewBox="0 0 112 112" x="0px" y="0px" id="svg-50ee"><path d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z"></path></svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content w-8" viewBox="0 0 112 112" x="0px" y="0px" id="svg-d346"><path d="M92.2,38.2c0,0.8,0,1.6,0,2.3c0,24.3-18.6,52.4-52.6,52.4c-10.6,0.1-20.2-2.9-28.5-8.2 c1.4,0.2,2.9,0.2,4.4,0.2c8.7,0,16.7-2.9,23-7.9c-8.1-0.2-14.9-5.5-17.3-12.8c1.1,0.2,2.4,0.2,3.4,0.2c1.6,0,3.3-0.2,4.8-0.7 c-8.4-1.6-14.9-9.2-14.9-18c0-0.2,0-0.2,0-0.2c2.5,1.4,5.4,2.2,8.4,2.3c-5-3.3-8.3-8.9-8.3-15.4c0-3.4,1-6.5,2.5-9.2 c9.1,11.1,22.7,18.5,38,19.2c-0.2-1.4-0.4-2.8-0.4-4.3c0.1-10,8.3-18.2,18.5-18.2c5.4,0,10.1,2.2,13.5,5.7c4.3-0.8,8.1-2.3,11.7-4.5 c-1.4,4.3-4.3,7.9-8.1,10.1c3.7-0.4,7.3-1.4,10.6-2.9C98.9,32.3,95.7,35.5,92.2,38.2z"></path></svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content w-8" viewBox="0 0 112 112" x="0px" y="0px" id="svg-dd2a"><path d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z"></path><path d="M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z"></path><path d="M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z"></path></svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content w-8" viewBox="0 0 112 112" x="0px" y="0px" id="svg-102d"><path d="M62.2,81.6c-8.6,11.2-24.6,14.4-37.6,10C10.9,87,0.8,73.2,1,58.5c-0.8-18,15.2-34.6,33.1-34.9 c9.2-0.8,18.2,2.7,25,8.6c-2.9,3.1-5.7,6.2-8.9,9.2c-6.2-3.8-13.5-6.5-20.6-4C18.1,40.7,11,54.2,15.4,65.6 c3.5,11.8,17.8,18.3,29.2,13.2c5.8-2.1,9.7-7.4,11.3-13.2c-6.6-0.1-13.2,0-20.1-0.3c0-3.9,0-7.9,0-11.9c11.2,0,22.2,0,33.3,0 C69.9,63.4,68.3,73.9,62.2,81.6z M110.9,63.7c-3.4,0-6.6,0-10,0c0,3.4,0,6.6,0,10c-3.4,0-6.6,0-10,0c0-3.4,0-6.6,0-10 c-3.4,0-6.6,0-10,0c0-3.4,0-6.6,0-10c3.4,0,6.6,0,10,0c0-3.4,0-6.6,0.1-10c3.4,0,6.6,0,10,0c0,3.4,0,6.6,0,10c3.4,0,6.6,0,10,0 C110.9,56.9,110.9,60.3,110.9,63.7z"></path></svg>


          </div>

        </div>
        <div class="flex-1">
          <form>
            <div class="flex flex-col">
              <label class="text-base">Name</label>
              <input
                type="text"
                placeholder="Enter Your Name"
                class="W-full bg-custom-light-gray p-3 rounded-lg"
              />
            </div>
            <div class="lg:flex gap-2 pt-4">
              <div class="flex flex-col w-full">
                <label class="text-base">Phone</label>
                <input
                  type="phone"
                  placeholder="Enter Your Name"
                  class="W-full bg-custom-light-gray p-3 rounded-lg"
                />
              </div>

              <div class="flex flex-col w-full lg:pt-0 pt-5">
                <label class="text-base">Email</label>
                <input
                  type="email"
                  placeholder="Enter Your Name"
                  class="bg-custom-light-gray p-3 rounded-lg"
                />
              </div>
            </div>
            <div class="pt-5">
              <a>
                <button type="button" class="bg-custom-yellow p-3 w-full rounded-lg tracking-widest font-bold uppercase text-base">Request Clarification</button>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
