<div class="flex max-w-1182px flex-wrap mx-auto m-0 pl-30px pr-30px pt-100px">
  <div class="flex-1 text-center">
    <h2 class="text-4xl font-bold">
      Top ten most popular courses for international students
    </h2>
    <img src="assets/images/popular-course-img.jpg" class="rounded-35px pt-5" />

    <p class="w-317px mx-auto text-lg font-normal pt-5">
      Sample text. Click to select the text box. Click again or double click to
      start editing the text.
    </p>
  </div>
  <div class="flex-1 text-center flex flex-col items-center">
    <!-- <p>
      Business Studies General Business Finance Management Studies Law Computer
      Science Economics Marketing Accounting Design
    </p> -->

    <p class="text-2xl font-medium leading-40px mt-70px">
      Business Studies<br />
      General Business<br />Finance<br />Management Studies<br />Law<br />Computer
      Science<br />Economics<br />Marketing<br />Accounting<br />Design
    </p>

    <span class="u-icon u-icon-circle u-text-black u-icon-1"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        xml:space="preserve"
        class="u-svg-content w-64px h-96px pt-30px"
        viewBox="0 0 512 512"
        x="0px"
        y="0px"
        id="svg-91af"
        style="enable-background: new 0 0 512 512"
      >
        <g>
          <g>
            <path
              d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068    c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557    l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104    c0.006-0.006,0.011-0.013,0.018-0.019C513.968,262.339,513.943,249.635,506.134,241.843z"
            ></path>
          </g>
        </g></svg
    ></span>
  </div>
</div>
